@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  overflow: auto;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.home-page {
  width: auto;
}

.social {
  margin-top: 0.6rem;
}

.social-button {
  background: none;
  border: none;
  font-size: 1.6rem;
  transition: 0.2s;
  cursor: pointer;
  padding-right: 1.5rem;
}

.social-button:hover {
  transform: scale(1.2);
}

.hero-image {
  margin-top: 15%;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://wallpaperaccess.com/full/138728.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-text {
  color: white;
}

.arrow-button {
  font-size: 2.5rem;
  background: none;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}

.active {
  color: black;
}

.inactive {
  color: grey;
}

.arrow-button:hover {
  transform: scale(1.2);
}

.recent-text {
  text-align: center;
}

.recent-button {
  padding: 0.6rem;
  position: relative;
  background-color: lightgray;
  transition: 0.4s;
}

.recent-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  transition: 0.4s;
}

.recent-button:hover::after {
  width: 100%;
}

.recent-button:hover {
  color: lightgray;
}

.recent-button span {
  position: relative;
  z-index: 1;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  white-space: normal;
  text-align: center;
}

.item {
  width: 80%;
  margin: 1rem auto 1rem;
  overflow: hidden;
  transition: 0.4s;
}

.item:hover {
  transform: scale(1.1);
}

.item span {
  color: rgba(0, 0, 0, 0.5);
}

.item img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.navbar {
  list-style-type: none;
  overflow: hidden;
}

.navbar-item {
  float: left;
  position: relative;
  padding: 0.9rem 1rem;
  text-align: center;
  color: black;
}

.navbar-item::after {
  text-align: center;
  position: absolute;
  content: "";
  bottom: 0.5rem;
  right: 0.5rem;
  width: 0;
  height: 0.2em;
  background-color: black;
  transition: 0.5s;
}

.navbar-item:hover::after {
  width: 80%;
}

.navbar-home {
  font-weight: 600;
}

.navbar-item-right {
  margin-right: 2rem;
  float: right;
}

.error {
  text-align: center;
  font-size: 2.2rem;
}

.post h1 {
  font-size: 4.5rem;
}

.post img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  filter: opacity(50%);
}

.post-header {
  position: absolute;
  top: 3rem;
  left: 2rem;
}

.post-body {
  margin: 0 15rem 2rem 3rem;
}

.post-comments {
  margin-left: 1rem;
}

.tags {
  display: inline-flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: 0 -1rem;
}

.tag {
  width: max-content;
  padding: 0 1rem;
  margin: 0.5rem;
  border-radius: 0.7rem;
  background-color: lightgrey;
}

.pagination {
  margin: auto;
  width: 50%;
  text-align: center;
  display: grid;
  padding-bottom: 5rem;
  grid-template-columns: auto auto auto;
  white-space: normal;
  gap: 1px;
}

.pagination-numbers {
  font-size: 2rem;
}

.pagination-numbers span {
  margin: 1rem;
  cursor: pointer;
}

.search {
  text-align: center;
  margin-bottom: 2.5rem;
}

.search-bar {
  border-radius: 5px;
  border: 1px solid;
  height: 1.5rem;
}

@media screen and (max-width: 600px) {
  .social-button {
    font-size: 1.2rem;
  }

  .navbar-item {
    text-align: left;
    padding: 0.7rem 0.8rem;
  }

  .arrow-button {
    font-size: 15px;
  }

  .container a {
    margin: 0.3rem;
  }

  .item {
    font-size: x-small;
    height: 5.5rem;
  }

  .item img {
    height: 2.5rem;
  }

  .error {
    font-size: 1.5rem;
  }

  .recent-text {
    font-size: small;
    margin-top: 2.5rem;
  }

  .recent-button {
    padding: 1rem;
  }

  .search-form {
    height: 1rem;
  }

  .post-header h1 {
    font-size: large;
  }
}
