@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  overflow: auto;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.home-page {
  width: auto;
}

.social {
  text-align: right;
  margin-top: 1rem;
  margin-right: 2rem;
}

.social-button {
  background: none;
  border: none;
  font-size: 1.6rem;
  transition: 0.2s;
}

.social-button:hover {
  transform: scale(1.2);
}

.hero-image {
  margin-top: 20%;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://wallpaperaccess.com/full/138728.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-text {
  color: white;
}

.arrow-button {
  font-size: 2.5rem;
  background: none;
  border: none;
  transition: 0.2s;
}

.inactive {
  color: grey;
}

.arrow-button:hover {
  transform: scale(1.2);
}

.container {
  margin-top: 2rem;
  display: grid;
  row-gap: 3rem;
  white-space: normal;
  text-align: center;
}

.item {
  width: 50%;
  margin: auto;
  overflow: hidden;
  transition: 0.4s;
}

.item:hover {
  transform: scale(1.1);
}

.item-text {
  text-align: center;
  margin: auto;
  overflow: hidden;
}

.item span {
  color: rgba(0, 0, 0, 0.5);
}

.item img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-item {
  float: left;
  padding: 12px 15px;
  text-align: center;
  color: white;
}

.navbar-item-right {
  float: right;
}

.navbar-search {
  padding-top: 8px;
  text-align: center;
  color: white;
  margin-right: 30px;
}

.search-form {
  border-radius: 3px;
  border: 1px solid;
  height: 22px;
}

.navbar-item:hover {
  background-color: rgba(128, 128, 128, 0.685);
}

.navbar-home {
  background-color: rgba(0, 0, 0, 0.8);
}

.error {
  text-align: center;
  font-size: 2.2rem;
}

.post h1 {
  font-size: 4.5rem;
}

.post img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  filter: opacity(50%);
}

.post-header {
  position: absolute;
  top: 3rem;
  left: 2rem;
}

.post-body {
  margin: 0 15rem 2rem 3rem;
}

.post-comments {
  margin-left: 1rem;
}

.tags {
  display: inline-flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
  align-self: center;
  margin: 0 -1rem;
}

.tag {
  width: max-content;
  padding: 0 1rem;
  margin: 0.5rem;
  border-radius: 0.7rem;
}

@media screen and (max-width: 600px) {
  .social-button {
    font-size: 1.2rem;
  }

  .arrow-button {
    font-size: 15px;
  }

  .container a {
    margin: 0.3rem;
  }

  .item {
    font-size: x-small;
    height: 5.5rem;
  }

  .item img {
    height: 2.5rem;
  }

  .error {
    font-size: 1.5rem;
  }
}
