body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.title {
  padding-left: 5%;
  color: rgba(0, 0, 0, 0.8);
}

.home-page {
  margin-top: 5px;
}

.hero-image {
  top: 50%;
  background-image: url("https://wallpaperaccess.com/full/138728.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  color: white;
}

.recent {
  margin: 2rem;
}

.posts-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.posts-list a {
  margin: 2rem;
}

.minimal-post {
  overflow: hidden;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
  white-space: normal;
  transition: transform 1s;
}

.minimal-post:hover {
  transform: scale(1.1);
}

.minimal-post p,
h2 {
  padding-left: 0.3em;
  float: inline-start;
}

.minimal-post img {
  float: right;
  width: 100%;
  height: 90px;
  object-fit: cover;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-item {
  float: left;
  padding: 12px 15px;
  text-align: center;
  display: block;
  color: white;
}

.navbar-item-right {
  float: right;
}

.navbar-search {
  padding-top: 8px;
  text-align: center;
  color: white;
  margin-right: 30px;
}

.search-form {
  border-radius: 3px;
  border: 1px solid;
  height: 22px;
}

.navbar-item:hover {
  background-color: rgba(128, 128, 128, 0.685);
}

.navbar-home {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
  .posts-list a {
    margin: 0.3rem;
  }

  .minimal-post {
    font-size: x-small;
    height: 5.5rem;
  }

  .minimal-post img {
    height: 2.5rem;
  }
}
